# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
client/coverage

# production
config/keys.js
client/build
client/src/*.css

# misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/markdown-navigator/
.idea/modules.xml
.idea/react-fullstack-portfolio.iml
.idea/workspace.xml
.idea/jsLinters/
server/
