$padding-small: 0.3rem;
$padding-medium: 0.8rem;
$padding-large: 1.2rem;
$padding-largest: 1.6rem;

$font-size-default: 1.6rem;
$font-size-medium: 2.4rem;
$font-size-biggest: 4rem;

$container-max-width: 98rem;

$background-color: #333;
$background-color-button: #999;
$background-color-button-hover: #888;
$background-color-editor: #f0f0f0;

$border-color-editor: #ccc;

$border-radius-small: 3px;
$border-radius-medium: 5px;
$border-radius-big: 7px;
