.ListLabel {
  display: block;
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
}

ul {
  .LinksListItem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    button {
      padding: 0;
      margin: 0;
    }

    a {
      color: white;
      text-decoration: none;
      font-size: 20px;
      margin-right: 15px;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .TrashContainer {
      display: inline-block;
      position: relative;
      width: 15px;
      margin-right: 40px;
    }
  }
}

.ExternalSpan {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
