@import 'src/style/main';

.BlogPost {
  margin: 1.6rem 0;
  height: 100%;
  position: relative;

  h1 {
    color: #fff;
  }

  &Body {
    left: 0;
    right: 0;
    height: 80%;
    margin: auto;
    border-radius: $border-radius-big;
    padding: 1.6rem;
    max-width: 100%;
    box-sizing: border-box;
    font-family: 'Merriweather', Georgia, serif;
    color: transparent;
    text-shadow: 0 0 0 #fff;
  }
}
