@import 'src/style/main';

.PostEditor--root {
  margin: 16px auto;
  height: 80%;
  position: relative;

    .PostEditor--container {
      height: 100%;
    }

    .DraftEditor-root {
      background: #fff;
      left: 0;
      right: 0;
      height: 100%;
      margin: auto;
      border-radius: $border-radius-big;
      padding: $padding-largest;
      position: relative;
      box-sizing: border-box;
      font-family: 'Merriweather', Georgia, serif;
    }

    .DraftEditor-editorContainer {
      height: 100%;

      & > div {
        height: 100%;
      }
    }
}

button {
  background: $background-color-button;
  color: #fff;
  border: none;
  padding: $padding-medium;
  cursor: pointer;
  margin-bottom: 1.6rem;
  margin-right: 1.6rem;
  border-radius: $border-radius-small;
}

button:hover {
  background: $background-color-button-hover;
}

pre {
  border: 1px solid $border-color-editor;
  background: $background-color-editor;
  border-radius: $border-radius-small;
  padding: $padding-medium;
  margin: 0;
}


pre > pre {
  background: none;
  border: none;
  padding: 0;
}
